main {
	padding: 0;
	margin: 0;
}

.container-wrapper {
	padding: 40px 0;
	position: relative;
}

#part1 {
	background-color: #ab436e;
}

#part2 {
	background-color: #43aef2;
}

#part3 {
	background-color: #9aef32;
}

$chevron-color: #4285f4;
$chevron-over-color: #3367D6;

.continue-reading {
	margin-left: auto;
	margin-right: auto;
	position: absolute;
	top: -30px;
	left: 50%;

	a {
		line-height: 60px;
		text-align: center;
		position: relative;
		left: -30px;
		display: block;
		background: white;
		width: 60px;
		height: 60px;
		border-radius: 30px;
		border: 1px solid $chevron-color;

		color: $chevron-color;
		&:visited {
			color: $chevron-color;
		}
		&:hover {
		color: $chevron-over-color;
		}
		text-decoration: none;

		.icon {
			line-height: 60px;
			display: inline-block;
			font-size: inherit;
			text-rendering: auto;
			-webkit-font-smoothing: antialiased;
			-moz-osx-font-smoothing: grayscale;
		}
	}
}
